import TemplateDefault from '@Templates/Default';
import type { NextPage } from 'next';

const {{pascalCase name}}: NextPage = () => {
return (
<TemplateDefault>
  <span>{{pascalCase name}}</span>
</TemplateDefault>
);
};

export default {{pascalCase name}};
